button {
    font-size: 24px;
    background-color:gray;
    padding: 4px 8px;
    margin: 4px 16px;
}

button:hover {
    background-color: rgb(45, 45, 45);
    color: white;
    transition: 250ms;
}

button:not(:hover) {
    background-color: gray;
    transition: 250ms;
}

img {
    vertical-align: middle;
}

h2 a {
    color: green;
}

h2 a:hover {
    color: rgb(75, 75, 255);
    transition: 250ms;
}

h2 a:not(:hover) {
    color: green;
    transition: 250ms;
}

h1 {
    font-size: 44px;
    color: white;
}

h2 {
    color: white;
    padding: 8px 16px;
    text-align: justify;
}

h3 {
    font-size: 16px;
    color: white;
    text-align: left;
}

nav {
    padding: 16px 4px;
}

body {
    background-color: rgb(45, 45, 45);
    padding: 8px 8px;
}

p1 {
    font-size: 24px;
    color: white;
}
