button {
    font-size: 24px;
    background-color:gray;
}

button:hover {
    background-color: rgb(45, 45, 45);
    color: white;
    transition: 250ms;
}

button:not(:hover) {
    background-color: gray;
    transition: 250ms;
}

img {
    vertical-align: middle;
}

a {
    color: green;
}

h1 {
    font-size: 44px;
    color: white;
}

h2 {
    color: white;
    padding: 8px 16px;
}

h3 {
    font-size: 16px;
    color: white;
    text-align: left;
}

nav {
    padding: 16px 4px;
}

body {
    background-color: rgb(45, 45, 45);
    padding: 8px 8px;
}

p1 {
    font-size: 24px;
    color: white;
}

input {
    font-size: 26px;
}

textarea {
    font-size: 26px;
}
