/*Navigation Bar*/
li {
    float: left;
    list-style-type: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    font-size: 24px;
    padding: 16px 16px;
    text-decoration: none;
    background: gray;
    float: left;
    outline: white;
}

li a:hover {
    background-color:black;
    padding: 16px 24px;
    transition: 250ms;
    transform: rotateX(15deg) rotateY(-15deg);
}

li a:not(:hover) {
    transform: rotateX(0deg) rotateY(0deg);
    background: gray;
    transition: 500ms;    
}

li a:active {
    background: rgb(225, 225, 225);
    transition: 250ms;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: white;
}

nav {
    height: 30px;
    display: flex;
    align-items: center;
}
