button {
    font-size: 24px;
    vertical-align: middle;
    background-color:gray;
}

button:hover {
    background-color: rgb(45, 45, 45);
    color: white;
}

img {
    vertical-align: middle;
}

a {
    color: green;
}

h1 {
    font-size: 44px;
    color: white;
}

h2 {
    color: white;
}

h3 {
    font-size: 16px;
    color: white;
    text-align: left;
}

body {
    background-color: rgb(45, 45, 45);
}

p1 {
    font-size: 24px;
    color: white;
}

input {
    font-size: 26px;
}

textarea {
    font-size: 26px;
}

/*Navigation Bar*/
li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    font-size: 24px;
    padding: 16px 14px;
    text-decoration: none;
    background: gray;
}

li a:hover {
    background-color:black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: white;
}